<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610202968033-vduni14nedb5ojgundg0p4c9r5bq9iqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610202968033-vduni14nedb5ojgundg0p4c9r5bq9iqd</string>
	<key>API_KEY</key>
	<string>AIzaSyAtU_bm6R0esNErpZim0puOKGBiIsNNVFU</string>
	<key>GCM_SENDER_ID</key>
	<string>610202968033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lidiane.DesafioIosMobils</string>
	<key>PROJECT_ID</key>
	<string>desafio-ios-mobils</string>
	<key>STORAGE_BUCKET</key>
	<string>desafio-ios-mobils.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610202968033:ios:c0e752884226bed1af3ca0</string>
	<key>DATABASE_URL</key>
	<string>https://desafio-ios-mobils.firebaseio.com</string>
</dict>
</plist>